mat-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  mat-card-header {
    display: flex;
    justify-content: space-around;

    #position {
      font-size: 26px;
      align-items: center;
      display: flex;
    }

    mat-card-title,
    mat-card-subtitle {
      text-align: center;
    }
  }

  mat-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;

    .votes {
      display: flex;
      align-items: center;
    }
  }
}
