.contentList {
  display: flex;
  align-items: center;
  margin: 75px 0;
  padding: 30px;

  #position {
    font-size: 20px;
    margin-left: 10px;
  }

  img {
    margin-right: 80px;
    width: 60px;
  }

  #songName {
    padding-bottom: 20px;
  }

  p {
    width: 300px;
  }

  #voteBtn {
    background-color: #1d860d;

    &:hover {
      background-color: #29bf12;
    }
  }

  #deleteBtn {
    background-color: #c9184a;

    &:hover {
      background-color: #d4466e;
    }
  }

  #editBtn {
    background-color: #264771;

    &:hover {
      background-color: #3666a5;
    }
  }
}
