@use "@angular/material" as mat;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@include mat.core();

$angular-primary: mat.define-palette(mat.$indigo-palette, 500);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
    ),
  )
);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
    ),
  )
);

@include mat.core-theme($angular-default-theme);
@include mat.button-theme($angular-default-theme);
@include mat.all-component-themes($angular-default-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.dark-mode {
  color: #fff;
  background-color: #00031c;
  @include mat.all-component-colors($angular-dark-theme);
}

.dark-mode .mat-mdc-card {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
