@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
@import "./assets/styles/colors.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: $white-color;
}

button {
  border: none;
  cursor: pointer;
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 30px;
  margin-left: 20px;
}

#logo {
  width: 12%;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contentList {
  background-color: #e9ecef;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.dark-mode {
  background-color: $bg-dark-color;
  color: $white-color;

  .contentList {
    background-color: $bg-light-color;
    box-shadow: rgba(114, 121, 223, 0.35) 0px 13px 27px -5px,
      rgba(167, 165, 246, 0.3) 0px 8px 16px -8px;
  }

  input {
    background-color: $bg-dark-color;
    color: $white-color;
  }
}

.darkModeBtn {
  color: black;
  background-color: $white-color;
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-30px, 30px);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $bg-dark-color;
    color: $white-color;
  }
}
