$white-color: #fff;

$bg-dark-color: #00031c;
$bg-light-color: #1a1c33;

$dark-blue: #264771;
$sky-blue-color: #5687c6;

$dark-chain-blue-color: #5379ab;
$light-chain-blue-color: #3666a5;

$mediu-dark-blue-color: #353a72;
$mediu-light-blue-color: #494e80;

$green-dark-color: #1d860d;
$green-light-color: #29bf12;

$pink-dark-color: #c9184a;
$prink-light-color: #d4466e;

$purple-dark-color: #66347f;
$purple-light-color: #855d99;

$magenta-dark-color: #9e4784;
$magenta-light-color: #b16c9d;
