<form ngNativeValidate autocomplete="off" (ngSubmit)="addSong()">
  <mat-form-field appearance="outline">
    <mat-label>Enter song name</mat-label>
    <input
      matInput
      #song
      maxlength="55"
      name="song"
      [(ngModel)]="songName"
      required
      (input)="onSongNameAndArtistChange()"
    />
    <mat-hint align="start"><strong>Max characters</strong></mat-hint>
    <mat-hint align="end">{{ song.value.length }} /55</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter the artist</mat-label>
    <input
      matInput
      #artist
      maxlength="55"
      name="artist"
      [(ngModel)]="songArtist"
      required
      (input)="onSongNameAndArtistChange()"
    />
    <mat-hint align="start"><strong>Max characters</strong></mat-hint>
    <mat-hint align="end">{{ artist.value.length }} /55</mat-hint>
  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button color="primary" id="add-btn" aria-label="add">
      Add
      <mat-icon>add</mat-icon>
    </button>

    <button
      mat-raised-button
      color="accent"
      aria-label="update"
      type="button"
      (click)="updateSongInfo()"
    >
      <mat-icon>update</mat-icon>
      Update
    </button>
  </div>
</form>

<mat-form-field appearance="outline" class="search">
  <mat-icon matPrefix>search</mat-icon>
  <mat-label for="search">Search</mat-label>
  <input
    matInput
    type="search"
    placeholder="by artist or song"
    name="search"
    [(ngModel)]="search"
    (input)="onSongNameAndArtistChange()"
  />
</mat-form-field>
