form {
  width: 40%;
  margin: 30px auto 0 auto;

  mat-form-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 16px;
  }

  #add-btn {
    margin-right: 12px;
  }
}

.search {
  width: 22%;
  margin: 20px 20px 10px 0;
  float: right;
}

.buttons {
  margin-left: 30px;
}

@media (max-width: 830px) {
  .search {
    width: 27%;
  }
}

@media (max-width: 610px) {
  form {
    width: 60%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .search {
    width: 50%;
  }
}

@media (max-width: 394px) {
  #add-btn {
    margin-bottom: 20px;
  }
}
